* {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 32px;
}

h1>small {
    font-size: 20px;
    color: gray;
}

.el-main {
    padding: 0;
    margin: 0;
}

.menu {
    margin: 0;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

.slide-button {
    position: relative;
    top: 50%;
}

.center {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.icon_img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: 15px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -15px;
}

.icon_img_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    margin: 12px;
}

.symbol_img {
    height: 150px;
    width: 80px;
}